* {
  font-family: cursive;
}

.header {
  background-color: rgb(98, 29, 177);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.562);
}
.logo {
  padding: 0px 10px;
  font-size: 5vh;
  font-weight: 900;
  font-family: cursive;
  color: white;
}
.logo:hover {
  color: white;
}

.carousel-indicators [data-bs-target] {
  background-color: #ffc107;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #ffc107;
  background-color: #621db1ad;
  text-align: center;
}

.carousel-inner img {
  height: 60vh;
  width: 100%;
}

#latestnews {
  background-color: rgb(98, 29, 177);
  color: white;
}

.row-cont {
  display: flex;
  width: 100%;
}
.col-1 {
  width: 20%;
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
  border-right: 2px solid white;
  text-align: center;
  background-color: red;
}
.col-2 {
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.container {
  padding: 40px 20px;
}

.card {
  height: 100%;
  width: 100%;
}
.card-text {
  color: black;
}

img.card-img-top {
  max-height: 300px;
  width: 100%;
}

.col-12 {
  margin: 10px 0px;
}

.btn {
  background-color: red !important;
  color: white;
  font-size: 16px;
  padding: 5px 20px;
  font-weight: 600;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: rgb(98, 29, 177) !important;
  color: white;
}

/* Detail info  */
.detail-header {
  background: linear-gradient(
    90deg,
    rgba(0, 249, 255, 1) 0%,
    rgba(44, 44, 177, 1) 70%,
    rgba(13, 7, 111, 1) 99%
  );
  /* height: 50vh; */
}
.detail-header img {
  border-radius: 10px;
  box-shadow: 3px 4px 5px navy;
  height: 100%;
  width: 100%;
}

.title {
  color: white;
  font-weight: 600;
}

hr {
  opacity: 1.25;
}

.detail-header .row {
  align-items: center;
}

.detail-status-bar {
  margin: 10px;
}

section.detail-bar {
  background-color: black;
  padding: 10px;
  color: white;
}

.row.detail-status-bar {
  display: flex;
}

.text {
  color: black;
  font-size: 18px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* footer */
.footer {
  background-color: rgb(98, 29, 177);
  color: white;
}
.footer-title {
  font-size: 30px;
}

.footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-c {
  padding: 5px;
}
